<div class="layout-column flex">
  <div>
    <h2>angular-busy2</h2>
    <p>Show busy/loading indicators on any Observable, Subscription, Promise, Boolean, Number</p>
  </div>
  <div class="layout-column layout-gt-md-row layout-align-space-between flex">
    <form class="flex layout-column" [formRoot]="modelForm">
      <label class="mat-headline">Demo Options</label>
      <mat-form-field>
        <mat-label>Delay (ms)</mat-label>
        <input matInput type="number" [formField]="modelForm.delay" />
        @for (error of modelForm.delay().errors(); track error) {
          <mat-error>{{ error.message }}</mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>Min Duration (ms)</mat-label>
        <input matInput type="number" [formField]="modelForm.minDuration" />
        @for (error of modelForm.minDuration().errors(); track error) {
          <mat-error>{{ error.message }}</mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>Message</mat-label>
        <input matInput type="text" [formField]="modelForm.message" />
      </mat-form-field>
      <mat-checkbox [formField]="modelForm.backdrop">Show Backdrop</mat-checkbox>
      <mat-checkbox [formField]="modelForm.showCustomTemplate">Show Custom Template</mat-checkbox>
      <mat-form-field>
        <mat-label>Promise type</mat-label>
        <mat-select id="promiseType" [formField]="modelForm.promiseType">
          @for (promiseType of promiseTypes; track promiseType.id) {
            <mat-option [value]="promiseType">{{ promiseType.label }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <div class="layout-row layout-align-end-center">
        <button type="submit" mat-raised-button [disabled]="!modelForm().valid()">Demo</button>
      </div>
    </form>

    <div class="flex">
      <mat-grid-list
        cols="4"
        rowHeight="40px"
        gutterSize="5"
        [cgBusy]="promise"
        [cgBusyConfig]="{
          templateRef: modelForm.showCustomTemplate().value() ? customTemplate : null,
          message: modelForm.message().value(),
          backdrop: modelForm.backdrop().value(),
          delay: modelForm.delay().value(),
          minDuration: modelForm.minDuration().value()
        }"
      >
        <mat-grid-tile>
          <b>#</b>
        </mat-grid-tile>
        <mat-grid-tile>
          <b>First Name</b>
        </mat-grid-tile>
        <mat-grid-tile>
          <b>Last Name</b>
        </mat-grid-tile>
        <mat-grid-tile>
          <b>Username</b>
        </mat-grid-tile>
        <mat-grid-tile>
          <div>1</div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div>Mark</div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div>Otto</div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div>&#64;mdo</div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div>2</div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div>Mark</div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div>Otto</div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div>&#64;TwBootstrap</div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div>3</div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div>Jacob</div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div>Thornton</div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div>&#64;fat</div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div>4</div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div>Larry</div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div>the Bird</div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div>&#64;twitter</div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
</div>
<ng-template #customTemplate let-options="options">
  <div class="custom-template">
    <div class="custom-message" [innerHtml]="options.message"></div>
  </div>
</ng-template>
